
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.image-slider-container {
  width: 60%;
  display: block;
  margin: 0 auto;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
