.App {
  text-align: center;
}

.img-wrapper {
  position: relative;
  text-align: center;
}

img{
  width: 100%;
  opacity: 1;
}

p{
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
}

.text{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}
@media screen and (min-width: 600px) {
  .text{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}
}